@model bsef19a032_LogIn.Models.User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Username : @Model.Username</p>
<p>Password : @Model.Password</p>

<p>Click <a asp-action="UsersList"> here</a> to view all users</p>
